@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    font-family: sans-serif;
    background-color: var(--color-red);
}

:root {
    --color-red: #b21b21;
    --color-white: #fff;
    --color-black: #000;
    --color-shadow: #470b0d;
    --color-green: #2d4008;
    --color-yellow: #fde2ac;
}

/* BODY */

h1 {
    font-family: "Gochi Hand";
    text-align: center;
    color: var(--color-white);
    font-size: 4em;
    padding: 1rem 0;
}

.container-80 {
    margin: 0 auto;
    width: 80%;
}

.flex__80-20 {
    display: flex;
}

/* TABLE */

.flex__80-20 .flex__number {
    flex-basis: 80%;
    padding: 0.5rem;
}

.flex__number {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.flex__number a {
    flex-basis: calc(10% - 10px);
    background-color: var(--color-white);
    border-radius: 20px;
    text-align: center;
    font-size: 3rem;
    color: var(--color-black);
    padding: 1rem 1rem;
    box-shadow: -5px 5px var(--color-shadow);
}

.flex__number a:hover {
    cursor: pointer;
    background-color: var(--color-shadow);
    box-shadow: -5px 5px var(--color-white);
    color: var(--color-white);
}

/* ASIDE */

.flex__80-20 aside {
    flex-basis: 20%;
    padding: 0.5rem;
}

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7rem;
}

aside span strong {
    color: var(--color-white);
}

.last-number {
    font-size: 3rem;
    background-color: var(--color-white);
    padding: 1rem;
    border-radius: 20px;
    box-shadow: -5px 5px var(--color-shadow);
}

hr {
    width: 90%;
    color: var(--color-white);
}

.btn__yellow {
    background-color: var(--color-yellow);
    color: var(--color-green);
    padding: 1rem;
    border-radius: 1rem;
    border: 0px;
    box-shadow: -5px 5px var(--color-shadow);
}

.btn__green {
    background-color: var(--color-green);
    color: var(--color-yellow);
    padding: 1rem;
    border-radius: 1rem;
    border: 0px;
    box-shadow: -5px 5px var(--color-shadow);
}