@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    font-family: sans-serif;
    background-color: var(--color-red);
}

:root {
    --color-red: #b21b21;
    --color-white: #fff;
    --color-black: #000;
    --color-shadow: #e7e9eb;
}

/* BODY */

h1 {
    font-family: "Gochi Hand";
    text-align: center;
    color: var(--color-white);
    font-size: 4em;
    padding: 1rem 0;
}

.container-80 {
    margin: 0 auto;
    width: 80%;
}

.flex__80-20 {
    display: flex;
}

/* TABLE */

.flex__80-20 .flex__number {
    flex-basis: 80%;
}

.flex__number {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

a {
    flex-basis: calc(10% - 10px);
    background-color: var(--color-white);
    /* aspect-ratio: 1; */
    border-radius: 30px;
    text-align: center;
    font-size: 2rem;
    color: var(--color-black);
    padding: 1rem 1rem;
    box-shadow: -5px 5px var(--color-shadow);
}

/* ASIDE */

.flex__80-20 aside {
    flex-basis: 20%;
}